# CLEAN DATA

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('jokes.csv')

data.shape

(2501, 39)

In [3]:
data.head(3)

,Unnamed: 0,id,conversation_id,created_at,date,timezone,place,tweet,language,hashtags,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1560414541254729728,1560414541254729728,1.660867e+12,2022-08-18 23:53:12,0,NaN,Anyone in need of some cash wanna come over an...,en,['joke'],...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1,1560413890231635973,1560413861857181697,1.660867e+12,2022-08-18 23:50:37,0,NaN,errr @randomtrump1 @RealDonaldTrump #joke : 'H...,en,"['joke', 'trump', 'maga', 'racistinchief', 'ra...",...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,2,1560413582088601600,1560413582088601600,1.660867e+12,2022-08-18 23:49:23,0,NaN,"I am not groot, I am Tree @CommeEddie #IAmGro...",en,"['iamgroot', 'marvel', 'fun', 'joke', 'jokes',...",...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [4]:
data.isnull().sum()

Unnamed: 0            0
id                    0
conversation_id       0
created_at            0
date                  0
timezone              0
place              2491
tweet                 0
language              0
hashtags              0
cashtags              0
user_id               0
user_id_str           0
username              0
name                  0
day                   0
hour                  0
link                  0
urls                  0
photos                0
video                 0
thumbnail          1413
retweet               0
nlikes                0
nreplies              0
nretweets             0
quote_url          2398
search                0
near               2501
geo                2501
source             2501
user_rt_id         2501
user_rt            2501
retweet_id         2501
reply_to              0
retweet_date       2501
translate          2501
trans_src          2501
trans_dest         2501
dtype: int64

In [5]:
import re
import nltk
from nltk.tokenize import RegexpTokenizer

In [6]:
def non_ascii(s):
    return "".join(i for i in s if ord(i)<128)

def lower(text):
    return text.lower()

def clean_links(text):
    txt = re.compile('http[s]{1}://[\w+][.]{1}[\w+][.]{1}[\w]{2,3}')
    return txt.sub(r'', text)

def clean_html(text):
    html = re.compile('<.*?>')
    return html.sub(r'', text)

def punct(text):
    token = RegexpTokenizer(r'\w+')
    text = token.tokenize(text)
    text = " ".join(text)
    return text

In [7]:
data['cleaned'] = data['tweet'].apply(non_ascii)
data['cleaned'] = data['tweet'].apply(lower)
data['cleaned'] = data['tweet'].apply(clean_links)
data['cleaned'] = data['tweet'].apply(clean_html)
data['cleaned'] = data['tweet'].apply(punct)

In [8]:
data['cleaned'].head()

0    Anyone in need of some cash wanna come over an...
1    errr randomtrump1 RealDonaldTrump joke His cor...
2    I am not groot I am Tree CommeEddie IAmGroot M...
3     No kidding alarmclock joke https t co 2D1cHOjWLx
4    Czym się rózni Yordle od Karła Niektórzy lubią...
Name: cleaned, dtype: object

In [9]:
print(data['cleaned'][0])

Anyone in need of some cash wanna come over and paint the walls of my study for me my back amp workload ain t having it Joke But seriously I ve been wanting to paint these walls since we moved in So depressing https t co UGJWxTjdi5

In [10]:
print(data['cleaned'][2])

I am not groot I am Tree CommeEddie IAmGroot Marvel fun joke jokes funniesttweets laughs laughing MarvelAvengers https t co OR1IkVzzgO

In [11]:
data.to_csv("clean_jokes.csv")